/* TOPページ */
@use "../import/mixin" as *;
/*変数読み込み*/


/* リブライトホームズとは */
.about__section {
  width: 100%;
  padding-top: 187.1px;
}

.about__main-area {}

.about__main-box {
  padding-top: 36.7px;
}

.about__main-content {

}

.about__text {
  max-width: 630px;
  margin-bottom: 275.7px;
}

.about__img-box {}

.about__img1 {
}

.about__img2 {
  width: 684.1px;
  bottom: 86.8px;
}

.about__agent-text {
  max-width: 561px;
  margin-top: 12px;
}

.about__photo-box {

}

.about__photo-img {

}

.about__emptyHouse-box {
  margin-top: 52.5px;
}

.about__emptyHouse-content {
  margin-left: 22px;
}

.about__emptyHouse-text{
  margin-top: 22px;
}


