/* scss変数設定 */

$main-color: #714A01;

$sub-color: #FFEC01;

$main-text-color: #262D2B;

$sub-text-color: #FFFFFF;

$sub2-text-color: #333333;

$main-font-size: 17px;

$ex-ex-large-font-size: 46px;

$ex-large-font-size: 40px;

$sub-large-font-size: 33px;

$large-font-size: 24px;

$small-font-size: 14px;

$container-width: 1404px;

$sideheader-width: 316px;

$tablet-breakpoint: 834px;

$smartphone-breakpoint: 600px;
